<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Add New Film</title>
		<link rel="icon" type="image/x-icon" href="/images/film.ico">
		<link rel="stylesheet" type="text/css" th:href="@{/css/fragment_styles.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/add-film.css}">
		
	</head>
	<body>
		<div th:replace="~{fragments :: header}"></div>
		<div th:replace="~{fragments :: navbar}"></div>
		<h3>Add new film to database (fields annotated with * are required)</h3>
		<form action="#" th:object=${film} th:action="@{/films/addFilm}" method="post" enctype="multipart/form-data">
		
			<input type="hidden" th:field="*{id}"/>
			
			<div th:if="${filmExistsError}">
				<span th:text="${filmExistsError}"></span>
			</div>
			
			<label for="title">*Film title:</label>
	        <input type="text" id="title" name="title" th:field="*{title}" placeholder="Title of new film..."/>
	        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</span><br/>
	        
	        <label for="subtitle">Subtitle:</label>
	        <input type="text" id="subTitle" name="subTitle" th:field="*{subTitle}" placeholder="Subtitle of new film..."/>
	        <span th:if="${#fields.hasErrors('subTitle')}" th:errors="*{subTitle}">Subtitle error</span><br/>
	        
	        <label for="year">*Year:</label>
	        <input type="text" id="year" name="year" th:field="*{year}" placeholder="Year of creation..."/>
	        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</span><br/>
	        
	        <label for="director">*Director:</label>
	        <input type="text" id="director" name="director" th:field="*{director}" placeholder="Director of new film..."/>
	        <span th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Director error</span><br/>
	        
	        <label for="description">*Description:</label>
	        <textarea id="description" name="description" th:field="*{description}" placeholder="Description of new film..."></textarea>
	        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</span><br/>
	        
	        <label for="length">*Length:</label>
	        <input type="text" id="length" name="length" th:field="*{length}" placeholder="Length of new film..."/>
	        <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}">Length error</span><br/>
	        
	        <label for="image">*Cover image:</label>
	        <input type="file" accept="image/png, image/jpg, image/jpeg" id="image" name="imageFile"/>
	        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Image error</span><br/>
	        
	        <label for="actorsInput">*Actors (separate by comma):</label>
	        <input type="text" id="actorsInput" name="actorsInput" th:field="*{actorsInput}" placeholder="Actors in film..."/>
	        <span th:if="${#fields.hasErrors('actorsInput')}" th:errors="*{actorsInput}">Length error</span><br/>
	        
	        <label for="filmType">*Choose type of film:</label>
	        <select id="filmType" name="filmType">
	        	<option th:each="filmType : ${T(cz.mvsoft.entity.entertainment.enums.FilmGenre).values()}"
				          th:value="${filmType}"
				          th:text="${filmType.displayName}">
				</option>
	        </select><br>
	 	        
			<input type="hidden" th:csrf="${_csrf.token}"/>
			<button type="submit">Save Film</button>
		</form>
			<img th:src="*{'data:image/jpeg;base64,'+ film.base64Encoded}" width="100" height="150" alt="Film cover alt"/>
		
		<span id="back">
			<a th:href="@{/films/list}"><button type="button">Back to list...</button></a>
		</span>
		<div th:replace="~{fragments :: footer}"></div>
	</body>
</html>