<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	  lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/film.ico">
		<title>Welcome to the world of films</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/list_style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/fragment_styles.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	</head>
	<body>
		<div th:replace="~{fragments :: header}"></div>
		<div class="outer_container">
			<div th:replace="~{fragments :: navbar}"></div>
			<div id="authorized">
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/films/showAddFilmForm}"><img src="/images/add.png" alt="Add Film"/></a>
				</div>
			</div>
			<div class = "custom_box">
				<div id="searchBar">
					<form action="#" th:action="@{/films/filterFilms}" method="GET">
						<label for="searchInput">Find movie: </label>
						<input id="searchInput" type="text" name="filmName" placeholder="Find movie...">
						<button type="submit">Search</button>		
					</form>
				</div>
				<div th:each="film : ${films}" class="custom-card">
					<a th:href="@{/films/filmDetail/}+${film.id}"><img th:src="*{'data:image/jpeg;base64,'+ film.base64Encoded}" alt="Film cover alt"/></a>
				</div>
			</div>
		</div>
		<nav aria-label="Pagination" th:if="${totalPages > 0}">
			<div class="pagination_container">
				<ul class="pagination_list">
					<li class="page_item" th:classappend="${currentPage == 1} ? 'disabled'">
						<a th:replace="~{fragments :: paging(1,'<<','First Page')}"></a>
					</li>
					<li class="page_item" th:classappend="${currentPage == 1} ? 'disabled'">
						<a th:replace="~{fragments :: paging(${currentPage -1}, 'Prev', 'Previous Page')}"></a>
					</li>
					<li class="page_item disabled" th:if="${currentPage - 2 > 1}">
						<a class="page-link" href="#">...</a>
					</li>
					<li class="page_item" th:classappend="${page == currentPage} ? 'active'"
						th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
						<a th:replace="~{fragments :: paging(${page}, ${page}, 'Page '+${page})}"></a>
					</li>
					<li class="page_item disabled" th:if="${currentPage + 2 < totalPages}">
			          <a class="page-link" href="#">...</a>
			        </li>
			        <li class="page_item" th:classappend="${currentPage == totalPages} ? 'disabled'">
			          <a th:replace="~{fragments :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
			        </li>
					<li class="page_item" th:classappend="${currentPage == totalPages} ? 'disabled'">
			          <a th:replace="~{fragments :: paging(${totalPages}, '>>', 'Last Page')}"></a>
			        </li>
				</ul>
			</div>
		</nav>
  
		<div th:replace="~{fragments :: footer}"></div>
	</body>
</html>