<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	  lang="en">
	<head>
		<title th:text="${film.title}"></title>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/film.ico">
		<link rel="stylesheet" type="text/css" th:href="@{/css/fragment_styles.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/film-detail.css}">
		<script defer="defer">
			function deleteConfirmation() {
			return confirm('Are you sure you want to delete this film?');
			}
		</script>
	</head>
	<body>
		<div th:replace="~{fragments :: header}"></div>
		<div class="outer_container">
			<div th:replace="~{fragments :: navbar}"></div>
			<div class="film-box">
				<div class="film_info">
					<div class="film_detail"><h2 th:text="${film.title}"></h2></div>
					<div class="film_detail"><h3>Year:</h3><h4 th:text="${film.year}"></h4></div>
					<div class="film_detail"><h3>Director:</h3><h4 th:text="${film.director}"></h4></div>
					<div class="film_detail"><h3>Actors:</h3>
						<div id="actors">
							<ul th:each="actor : ${film.actors}">
								<li th:text="${actor.name}"></li>
							</ul>
						</div>
					</div>
					<div class="film_detail"><h3>Description:</h3><p th:text="${film.description}"/></div>
				</div>
				
				<div class="film_cover">
					<img th:src="*{'data:image/jpeg;base64,'+ film.base64Encoded}" width="100" height="150" alt="Film cover alt"/>
				</div>
			</div>
			
			
			<div class="manipulation">
				<div class="favourite" th:if="${#bools.isFalse(isFavourite)}">
					<a th:href="@{/films/addToFavourites/}+${film.id}"><img src="/images/add.png" alt="Add to favourites"/></a>
				</div>
				
				<div class="favourite" th:if="${#bools.isTrue(isFavourite)}">
					<a th:href="@{/films/removeFromFavourites/}+${film.id}"><img src="/images/minus.png" alt="Remove from favourites"/></a>
				</div>
			
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/films/showUpdateForm/}+${film.id}"><img src="/images/update.png" alt="Update film info"/></a>
					<form th:action="@{/films/removeFilm/}+${film.id}" method="post" action="#">
						<input type="hidden" name="_method" value="delete"/>
						<input type="hidden" th:csrf="${_csrf.token}"/>
						<input id="remove" type="image" src="/images/delete.png" alt="Submit" onclick="return deleteConfirmation();"/>
					</form>
				</div>
			
			</div>
		</div>
		
		<div id="back">
			<a th:href="@{/films/list}"><button type="button">Back to list...</button></a>
		</div>
		<br>
		<div th:replace="~{fragments :: footer}"></div>
	</body>
</html>