<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/user.ico">
		<title>User Login</title>
		<!-- link css file -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/fragment_styles.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	</head>
	<body>
		<div class="login-box">
			<h3>Please log in:</h3>
			<div class="login-form-outer">
				<form th:action="@{/authenticateTheUser}" method="POST" class="login-form">
					<div th:if="${param.error}">
						<div class="invalid-box">
							Invalid username/password.
						</div>
					</div>
					<div th:if="${param.logout}">         
						<div class="logout-box">
							You have been logged out.
						</div>
					</div>
					<div class="input-box">
						<span class="icon-box"><i class="icon-user"></i></span>
						<input type="text" name="username" placeholder="Enter your username..." class="form-field" autofocus="autofocus">
					</div>
					<div class="input-box">
						<span class="icon-box"><i class="icon-pass"></i></span>
						<input type="password" name="password" placeholder="Enter your password..." class="form-field" >
					</div>
					<input type="hidden" th:csrf="${_csrf.token}"/>	
							
					<button type="submit" class="login-btn">Login</button>
				</form>
			</div>
			<div id="register_button">
				<a th:href="@{/register/showRegistrationForm}" class="register-btn" role="button" aria-pressed="true">Register New User</a>
			</div>
			<div id="return_button">
				<a th:href="@{/}">Return home</a>
			</div>
		</div>
		<br>
		<div id="footer" th:replace="~{fragments :: footer}"></div>
	</body>
</html>