html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
    }
.outer_container{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content: flex-start;
	order:2;
}
.film-box {
	display: flex;
	flex-wrap:wrap;
	flex-direction: inherit;
	justify-content: center;
}
#not_found {
	align-self:center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 2em;
}

#back {
	display:flex;
	justify-content: center;
}
#back:hover {
	cursor: pointer;
}
#back button {
  background-color: rgb(240, 95, 95);
  border: 1px solid red;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius:5px;
}

#back button:hover {
	cursor: pointer;
	color:black;
	background-color: whitesmoke;
}

.film-box .actors {
	display:flex;
	flex-direction: column;
}

.actors h6 {
	font-weight: bold;
	display:block;
	
}