@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
	background-color: black;
}
.login-box {
	display: flex;
	flex-direction:column;
	height:83vh;
	justify-content: center;
	align-items: center;
	padding:1vh;
	background: linear-gradient(180deg, red,black);
}
.login-box h3 {
	margin-bottom:1vh;
	font-family: 'Poppins',sans-serif;
	font-size:1.5em;
	font-weight:500;
}

.login-form-outer{
	padding:2vh;
	border-bottom:2px solid black;
	margin-bottom:2vh;
}
.login-form {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
}
.input-box {
	padding:1vh;
}
input {
	padding:1vh;
	background-color: pink;
	font-family: 'Poppins', sans-serif;
	font-size:1em;
	font-weight:400;
	border-radius:10px;
}
.login-btn {
	padding: 1vh 2vh 1vh 2vh;
	border-radius:15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:1em;
}
.login-btn:hover{
	cursor: pointer;
}

.invalid-box {
	border: 1px solid red;
	background: linear-gradient(90deg, white, gray);
	color:red;
	font-family: 'Poppins',sans-serif;
	font-size:1em;
	font-weight:500;
	padding:1vh;
	margin-bottom:0.5 vh;
	border-radius:10px;
}

.logout-box {
	border: 1px solid green;
	background: linear-gradient(90deg, white, green);
	color:black;
	font-family: 'Poppins',sans-serif;
	font-size:1em;
	font-weight:500;
	padding:1vh;
	margin-bottom:0.5 vh;
	border-radius:10px;
}

#register_button {
	font-family: 'Poppins',sans-serif;
	font-weight:500;
	padding:1.5vh;
	border:1px dashed;
	margin-top: 1vh;
	margin-bottom:0.5vh;
	border-radius:10px;
}
#register_button:hover{
	background-color: black;
	color:white;
}
#register_button a {
	text-decoration: none;
	color:white;
}
#return_button {
	font-family: 'Poppins',sans-serif;
	font-weight:500;
	padding:1.5vh;
	border:1px dashed;
	margin-top: 0.5vh;
	margin-bottom:1vh;
	border-radius:10px;
}
#return_button a {
	text-decoration: none;
	color:white;
}
#return_button:hover{
	background-color: black;
	color:white;
}
