<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/denied.png">
		<title>Access Denied!</title>
		<!-- Add css link -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/fragment_styles.css}">
		
	</head>
	<body>
		<div th:replace="~{fragments :: header}"></div>
		<div th:replace="~{fragments :: navbar}"></div>
		<h1>Access DENIED!</h1>
		<div th:replace="~{fragments :: footer}"></div>
	</body>
</html>