<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  lang="en">
	<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<!-- Add favicon -->
		<title>Welcome to the world of films</title>
		<!-- Add css link -->
	</head>
	<body>
		<h3>Here will be magnificent page of your movie library! Soon!</h3>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<hr>
			<a th:href="@{/films/showAddFilmForm}">Add new film</a>
		</div>
		<hr>
		<form th:action="@{/logout}" 
			   method="POST">
			<input type="hidden" th:csrf="${_csrf.token}"/>
			<input type="submit" value="Logout" />
		</form>	
	</body>
</html>