<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/film.ico">
		<title>Welcome to the world of games</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/list_style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/fragment_styles.css}">
	</head>
	<body>
		<div th:replace="fragments :: header"></div>
		<div class="outer_container">
			<div th:replace="fragments :: navbar"></div>
			<div sec:authorize="hasRole('ROLE_ADMIN')" id="authorized">
				<a th:href="@{/games/showAddGameForm}">Add new game</a>
			</div>
			<div class = "custom_box">
				<div id="searchBar"> <!-- TODO - Add form for search, create action in controller -->
					<label for="Search">Find game: </label>
					<input id="searchInput" type="text" placeholder="Find game...">
					<button type="submit">Search</button>
				</div>
				<div th:each="game : ${games}" class="custom-card">
					<a th:href="@{/games/gameDetail/}+${game.id}"><img th:src="*{'data:image/jpeg;base64,'+ game.base64Encoded}" alt="Game cover alt"/></a>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>
	</body>
</html>